.dark {
  margin-top: 8px;
  display: flex;
  justify-content: end;
}

.label {
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: lightgray;
  border-radius: 20px;
  cursor: pointer;
  
}

.input {
  visibility: hidden;
}


.circle {
  width: 34px;
  background-color: white;
  height: 34px;
  border-radius: 50%;
  top: 3px;
  position: absolute;
  left: 3px;
  animation-name: OFF;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear ;
  

}

.input:checked + .label {
  background-color: gray;
}

.input:checked + .label .circle {
  animation: linear ;
  background-color: #151d2a;
  animation-name: ON;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear ;
  
}


@keyframes ON {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(40px);
  }
}

@keyframes OFF {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}





html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}



.logo {
  font-size: 25px;
  margin: 5px;
  width: 250px;
  font-family: 'Indie Flower' , cursive;
  position: absolute;
}
