*{
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
} 


.container {
    background-color: #003333;
    border-radius: 10px;
    height: 400px;
    padding: 20px;
    margin-top: 70px;
}

.titre {
    color: white;
    padding-bottom: 12px;
}

.celcius , .fahrenheit , .kelvin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input {
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    border: none;
    padding: 0 10px;
}


.icon {
    flex: 1;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 5px;
    font-size: 25px;
    color: aliceblue;
    border-radius: 8px;

}


.button {
    text-align: center;
    margin-top: 20px
}


.button button {
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
}

.button button:hover {
    background-color: #003333;
    color: white;
}
 


